<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_E_Banking.Properties.Settings.afdemp_csharp_1ConnectionString"
            connectionString="Data Source=LAPTOP-ATU40D6A\SQLEXPRESS;Initial Catalog=afdemp_csharp_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>